<!DOCTYPE html>
<html>
<head>
	<title>聊天室</title>
</head>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
<link rel="stylesheet" type="text/css" href="./style/chatRoom.css">
<script src="//cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
<body>
	<div>
		<div class="chat-box"></div>
		<input class="message" type="text" name="">
		<div class="send">发送</div>
	</div>
	<div class="out">退出</div>
</body>
<script type="text/javascript" src='./js/chatRoom.js'></script>
</html>